html {
  background-color: black;


}


img {
  width: 100px;
  border-radius: 8px;
  margin: auto;
 

}

ul li, p, h1 , h2 {
  color:white;
  text-align:center;



}

 p {
    text-align:center;
    font-size:  15px; 
    font-weight: bold;
    


 }

 a {
  font-size: 25px;
  font-weight:bold;
 }




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

* {
 font-family: 'Poppins', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
 

}


 .wrapper {
    background-color:grey; max-width:fit-content; margin:auto; border-radius: 10px;
    





}


