* {
 font-family:Arial, Helvetica, sans-serif;
 font-weight: 100px;
 color:white;

 


}

body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */


}

div {
 width: 500px;
 height: 300px;
 margin-left: 100px;
 margin-right:100px;
 outline: 35px solid rgb(7, 3, 17);
 background-color:rgb(49, 40, 40);
 border-radius:10px
 

 
 


}


span {
 font-size: larger;
 
 width: 10px;
 
 margin-left: 10px;
 box-sizing:border-box;
 border-right: 1px;



} 

img {

width:30px;
height:30px;
padding-left:10px;
vertical-align: -8px;





}

h1 {
 
 background-color: grey;
 margin-bottom: 0;
 margin-top: 0;
 margin-bottom: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 10px;

 


}

h4 {

  padding-left:8px;


}


p {

  padding-left:10px;
  padding-right:10px;



}

a {
 padding-left: 10px;



}

html {
background-color: darkslategray;

}